<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login-registration.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<header class="heading">
    <h2><a href="#">Fast-Food-Fast</a></h2>
    <nav>
        <!--the <ul> wrapper is ommited to ensere thy stay inline/ horizontally oriented-->
        <li><a href="register-admin.html">Add admin</a></li>
        <li><a href="#">profile</a></li>
        <li><a href="landing.html">log out</a></li>
    </nav>
</header>
<section class=" content">
    <!--tab menu-->
    <div class="tab">
        <button id="default-tab" class="tab_titles"
                onclick="openTab(event, 'food-items-list');showContent('food-list')">
            Food items
        </button>
        <button class="tab_titles" onclick="openTab(event, 'manage-orders');">Manage Orders</button>
    </div>

    <div id="food-items-list" class="tabcontent">
        <h3>Menu</h3>
        <nav>
            <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                    onclick="">
                <span class="mdc-button__icon material-icons">add</span>
                <span class="tooltiptext">add new item</span>
            </button>
        </nav>
        <table>
            <thead>
            <th>item id</th>
            <th>image</th>
            <th>name</th>
            <th>price</th>
            <th>edit</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="../img/fries.jpg"></td>
                    <td>fries</td>
                    <td>Ksh 300</td>
                    <td>
                        <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                                onclick="">
                            <span class="mdc-button__icon material-icons">edit</span>
                            <span class="tooltiptext">edit item</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../img/fries.jpg"></td>
                    <td>fries</td>
                    <td>Ksh 300</td>
                    <td>
                        <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                                onclick="">
                            <span class="mdc-button__icon material-icons">edit</span>
                            <span class="tooltiptext">edit item</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../img/fries.jpg"></td>
                    <td>fries</td>
                    <td>Ksh 300</td>
                    <td>
                        <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                                onclick="">
                            <span class="mdc-button__icon material-icons">edit</span>
                            <span class="tooltiptext">edit item</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../img/fries.jpg"></td>
                    <td>fries</td>
                    <td>Ksh 300</td>
                    <td>
                        <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                                onclick="">
                            <span class="mdc-button__icon material-icons">edit</span>
                            <span class="tooltiptext">edit item</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="../img/fries.jpg"></td>
                    <td>fries</td>
                    <td>Ksh 300</td>
                    <td>
                        <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                                onclick="">
                            <span class="mdc-button__icon material-icons">edit</span>
                            <span class="tooltiptext">edit item</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--a list of all food items-->
        <ul id="food-list"></ul>
    </div>

    <!--display previous orders-->
    <div id="manage-orders" class="tabcontent">
        <h3>Previous Orders</h3>
        <h4>Review all orders</h4>
        <table>
            <thead>
            <th>order-id</th>
            <th>order-item</th>
            <th>order-quantity</th>
            <th>order-location</th>
            <th>order-time</th>
            <th>aceept/reject</th>
            <th>completed</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>item-2</td>
                <td>5</td>
                <td>Thika</td>
                <td onload="Date()"></td>
                <td>
                    <form>
                        <input type="radio" name="status" value="accept" checked> accept<br>
                        <input type="radio" name="status" value="reject"> reject<br>
                        <input type="radio" name="status" value="pending"> pending
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

<div>
    <template id="MenuItem">
        <td>menu_id</td>
        <td>item_name</td>
        <td>price</td>
        <td>
            <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                    onclick="">
                <span class="mdc-button__icon material-icons">edit</span>
                <span class="tooltiptext">edit</span>
            </button>
        </td>
    </template>
</div>

<footer>
    <!--reference external javascript files-->
    <script type="text/javascript" src="../js/main.js"></script>
    <!--set default tab to active-->
    <script> set_active_tab('default-tab')</script>

</footer>
</body>
</html>