<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Fast</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
    <header class="heading">
        <nav>
            <h2><a href="#">Fast-Food-Fast</a></h2>
            <li><a href="#">About</a></li>
            <li><a href="#">log in</a></li>
            <li><a href="#">Sign up</a></li>
        </nav>
    </header>
    <section class="content" >
        <div class="background-image"></div>
        <div class="hero-content-area">
            <h1>Fast-Food-Fast</h1>
            <h3>Get your fast food faster than ever before!!</h3>
            <hv>Try us out now</hv>
            <a href="#" class="btn">Register</a>
        </div>
    </section>



</body>
</html>