<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login-registration.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg">

<header class="heading">
    <h2><a href="#">Fast-Food-Fast</a></h2>
    <nav>
        <li><a href="login.html">Login</a></li>
    </nav>
</header>

<section class="content">
    <div class="container-register" id="profile-container">
        <div id="title">
            <i class="material-icons lock">lock</i> Fast Food Fast
        </div>

        <form action="user-dashboard.html">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">input</i>
                </div>
                <input id="first-name" placeholder="first name" type="text" required class="validate" autocomplete="off">
            </div>
            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">input</i>
                </div>
                <input id="second-name" placeholder="second name" type="text" required class="validate" autocomplete="off">
            </div>
            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">input</i>
                </div>
                <input id="username" placeholder="Username" type="text" required class="validate" autocomplete="off">
            </div>
            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input id="email" placeholder="Email" type="email" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Password" type="password" required class="validate" autocomplete="off">
            </div>
            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="confirm-password" placeholder="Confirm Password" type="password" required class="validate" autocomplete="off">
            </div>
            <div class="clearfix"></div>

            <div class="remember-me">
                <input type="checkbox" required/>
                <span >I accept Terms of Service</span>
            </div>
            <div class="clearfix"></div>

            <input type="submit" value="Register" />
        </form>

        <div class="privacy">
            <a href="#">Privacy Policy</a>
        </div>

        <div class="register">
            Do you already have an account?
            <a href="login.html"><button id="register-link">Log In here</button></a>
        </div>
    </div>
</section>

</body>
</html>