<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login-registration.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg">
<header class="heading">
    <h2><a href="#">Fast-Food-Fast</a></h2>
    <nav>
        <!--the <ul> wrapper is ommited to ensere thy stay inline/ horizontally oriented-->
        <li class="tooltip">
            <a href="admin-dashboard.html" class="material-icons">arrow_back</a>
            <span class="tooltiptext">Back</span>
        </li>
        <li><a href="#">profile</a></li>
        <li><a href="landing.html">log out</a></li>
    </nav>
</header>
<section class="content">
    <div id="errors">
        <!--// Display all errors here-->
    </div>
    <div class="container-register" id="profile-container">
        <div id="title tooltip">
            <i class="material-icons lock">lock</i> Admin Registration
        </div>
        <form action="#">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">input</i>
                </div>
                <input id="first-name" placeholder="first name" type="text" required class="validate"
                       autocomplete="off">
            </div>
            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">input</i>
                </div>
                <input id="second-name" placeholder="second name" type="text" required class="validate"
                       autocomplete="off">
            </div>
            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">input</i>
                </div>
                <input id="username" placeholder="Username" type="text" required class="validate" autocomplete="off">
            </div>
            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input id="email" placeholder="Email" type="email" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input tooltip">
                <span class="tooltiptext">temporary password  for admin to be changed</span>
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Temporary Password" type="password" required class="validate"
                       autocomplete="off">
            </div>
            <div class="clearfix"></div>

            <input type="submit" value="Register"/>
        </form>
    </div>
</section>
<footer>
    <template id="alert-box">
        <div class="alert_box">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p class="message_content"></p>
        </div>
    </template>
    <script type="application/javascript" src="../js/script.js"></script>
</footer>

</body>
</html>
</html><!DOCTYPE html>
