<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login-registration.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="bg2" onload="showMenuList('food-list','menu_alerts')">

<header>
    <h2><a href="#">Fast-Food-Fast</a></h2>
    <nav>
        <!--the <ul> wrapper is ommited to ensere thy stay inline/ horizontally oriented-->
        <li><a href="#">About</a></li>
        <li><a href="#">profile</a></li>
        <li><a href="landing.html">log out</a></li>
    </nav>
</header>

<section>
    <!--tab menu-->
    <div class="tab">
        <button id="default-tab" class="tab_titles" onclick="openTab(event, 'food-items');">
            Food items
        </button>
        <button class="tab_titles" onclick="openTab(event, 'order-history');fetch_order_history();">Previous orders</button>
        <button class="tab_titles" onclick="openTab(event, 'checkout');ShowOrders('List-orders')">Checkout</button>
    </div>
    <!--tab contents-->
    <!--section food items displays a list of food items&ndash;&gt;-->
    <div id="food-items" class="tabcontent">
        <h3>Menu</h3>
        <h4>Select your favourite meal from our large array of delicacies.</h4>
        <!--a list of all food items-->
        <!--<ul id="food-list"></ul>-->
        <div class="container" id="food-list">
            <div class="tab" id="menu_alerts">
                <!--display error messages fro API here-->
            </div>

        </div>
    </div>

    <!--display previous orders-->
    <div id="order-history" class="tabcontent">
        <h3>Previous Orders</h3>
        <h4>Review Your historical orders</h4>
        <div class="tab" id="history_alerts">
            <!--display error messages fro API here-->
        </div>
        <table id="List-prev-orders">
            <thead>
            <th>order id</th>
            <th>order item</th>
            <th>order name</th>
            <th>order quantity</th>
            <th>location</th>
            <th>Time</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!--display a list of all orders before submitting-->
    <div id="checkout" class="tabcontent">
        <div class="tab" id="order_alerts">
            <!--display error messages from API here-->
        </div>
        <h3>Checkout</h3>
        <h4>all new orders you make appear here</h4>
        <span id="checkout-btn" class="content-content-area"> <a href="#" class="btn" onclick="checkout()">check out</a></span>
        <table id="List-orders">
            <thead>
            <th>order id</th>
            <th>order item</th>
            <th>order name</th>
            <th>order quantity</th>
            <th>location</th>
            <th>Time</th>
            <th>cancel</th>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</section>

<!--templates-->
<div>
    <!--this section contains templates of items that will be listed in the tabs.cannot be displayed-->
    <template id="food-item">
        <table>
            <tr>
                <td><img src=""></td>
                <td>
                    <h3>name</h3>
                    <p>Ksh price</p>
                    <button class="mdc-button mdc-button_raised tooltip" aria-label="control_point"
                            onclick="AddOrder(this.id)">
                        <span class="mdc-button__icon material-icons">control_point</span>
                        <span class="tooltiptext">add to checkout</span>
                    </button>
                </td>
            </tr>
        </table>
    </template>

    <!--orders template-->
    <template id="order">
        <td>order_id</td>
        <td>order_item</td>
        <td>order_name</td>
        <td>order_qty</td>
        <td>location</td>
        <td>time</td>
        <td>edit_status</td>
    </template>

    <template id="food-item2">
        <div class="thumbnail">
            <img src="..." alt="item"/>
            <div id="details" class="tooltip inline" onclick="AddOrder(this.id)">
                <h5>Name</h5>
                <span class="inline">
                    <h6>price:</h6>
                    <p>Price</p>
                </span>
                <span class="tooltiptext">
                <i class="material-icons lock">shopping_cart</i>
                add to checkout
            </span>
                <!--<button></button>-->
            </div>


        </div>
    </template>

    <template id="alert-box">
        <div class="alert_box">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p class="message_content"></p>
        </div>
    </template>
    <div class="modal2" id="popup-loader">
        <div class="loader modal-content2">

        </div>
    </div>
</div>

<footer>
    <!--reference external javascript files-->
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="application/javascript" src="../js/script.js"></script>
    <!--set default tab to active-->
    <script> set_active_tab('default-tab')</script>

</footer>
</body>
</html>