<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login-registration.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<section class="grid" >
    <header class="heading">
        <h2><a href="#">Fast-Food-Fast</a></h2>
        <nav>
            <!--the <ul> wrapper is ommited to ensere thy stay inline/ horizontally oriented-->
            <li><a href="#">About</a></li>
            <li><a href="#">profile</a></li>
            <li><a href="#">log out</a></li>
        </nav>
    </header>

    <!--tab menu-->
    <div class="tab">
        <button id="default-tab" class="tab_titles" onclick="openTab(event, 'food-items')">Food items</button>
        <button class="tab_titles" onclick="openTab(event, 'order-history')">Previous orders</button>
        <button class="tab_titles" onclick="openTab(event, 'checkout')">Checkout</button>
    </div>
    <!--tab contents-->

    <!--food items displays a list of food items-->
    <div id="food-items" class="tabcontent">
        <h3>Menu</h3>
        <h4>Select your favourite meal from our large array of delicacies.</h4>
        <!--a list of all food items-->
        <img src="../img/fries.jpg">
        <ul id="food-list"></ul>
    </div>

    <!--display previous orders-->
    <div id="order-history" class="tabcontent">
        <h3>Previous Orders</h3>
        <h4>Review Your historical orders</h4>
    </div>

    <!--display a list of all orders before submitting-->
    <div id="checkout" class="tabcontent">
        <h3>Checkout</h3>
        <h4>all new orders you make appear here</h4>
    </div>
</section>

<div>
    <!--this section contains templates of items that will be listed in the tabs.cannot be displayed-->
    <template>
        <h5>Fries</h5>
        <img src="">
    </template>
</div>

<footer>
    <!--reference external javascript files-->
    <script type="text/javascript" src="../js/main.js" ></script>
    <!--set default tab to active-->
    <script> set_active_tab('default-tab')</script>
    <!--display food items-->
    <script type="text/javascript">showContent("food-list")</script>
</footer>
</body>
</html>