/*General Styles*/
/*@import "@material/button/mdc-button";*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {

    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #2A2F42;
}

.bg {
    /*height: 95vh;*/
    background: url("../img/fast food.jpeg") no-repeat center;
    background-size: cover;
}

.bg2 {
    background-color: #F6F6F2;
}

ul {
    display: inline; /*display menu items as inline*/
    float: right;
    list-style-type: none;
}

nav {
    list-style: none;
}

a {
    text-decoration: wavy;
    opacity: 1;
    color: #FFFFFF;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #e07e7b;
    opacity: 1;
    transition: all 400ms;
}

a.btn:hover {
    background-color: #C1C3C6;
}

.land {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

.land:not(.content):nth-child(even) {
    background-color: #f5f5f5;
}

section {
    min-width: 560px;
    display: grid;
    padding: 100px 80px;
    position: relative;
}

/*make images displayed have a constant size*/
img {
    height: 200px;
    width: 220px;
    border-radius: 25px;
}

/*Header Styles*/
header {
    grid-area: header;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    background-color: #C2A766;
    color: #FFFFFF;
    z-index: 2;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Amatic SC", sans-serif;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}

@media (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}

.content {
    position: relative;
    grid-area: content;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #f8f9fa;
}

.content .background-image {
    position: relative;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-size: cover;
    z-index: -1;
    background: #8E5E60 url("../img/fast food.jpeg") no-repeat;
}

.content h1 {
    font: 72px "Amatic SC", sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.content h3 {
    font: 28px "Raleway", sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.content ul {
    /*align list items to the center */
    float: left;

}

.content a.btn {
    padding: 20px 46px;
}

.content-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .content {
        min-height: 600px;
    }

    .content h1 {
        font-size: 48px;
    }

    .content h3 {
        font-size: 24px;
    }

    .content a.btn {
        padding: 15px 40px;
    }
}

/*dashboard formatting*/
.grid {
    display: grid;
}

/*style the tabs to appear in the content section of the dashboard*/
.tab {
    overflow: hidden;
    background-color: #7A8091;
    width: 100%;
    height: 57px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: inherit;
    /*outline: none;*/
    cursor: pointer;
    padding: 20px 26px;
    transition: 0.4s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*display: block;*/
    /*padding: 6px 12px;*/
    /*border: 1px solid #ccc;*/
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 2 second */
    min-width: 60%;
    width: inherit;
    overflow: auto;
    opacity: 1;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: .6;
    }
}

.tabcontent h5 {
    font: 1em "Raleway", sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.tabcontent div {
    background-color: #4D4940;
}

.scrollable {
    overflow: auto;
}

/*credit w3 schools*/
/*tooltip hover*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*table formatting*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e07e7b;
}

th {
    background-color: #4CAF50;
}

/*style the items container*/
.container {
    min-width: 230px;
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
}

/*style the gallery item*/
.thumbnail {
    color: #C2A766;
    background-color: #F6F6F2;
    font: 30px/1.5 inherit;
    float: left;

    min-width: 200px;
    max-width: 220px;
    margin: 2% 2% 50px 2%;
}

.thumbnail h3 {
    text-transform: uppercase;
}

.thumbnail img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*add rules to control page resizing*/
@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {
    .thumbnail {
        width: 30%;
    }
}

@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
    .thumbnail {
        width: 30%;
    }
}

@media only screen and (max-width: 530px), only screen and (max-device-width: 530px) {
    .thumbnail {
        width: 40%;
    }
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
    .thumbnail {
        width: 96%;
    }

    .thumbnail img {
        width: 96%;
    }

    .thumbnail h3 {
        font-size: 18px;
    }

    .thumbnail p {
        font-size: 18px;
    }
}

/*upload button styling*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    /*border: 2px solid gray;*/
    /*color: gray;*/
    /*background-color: white;*/
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/*cancel butoon for modal*/
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: inherit;
    float: right;
    border: none;
}

.cancelbtn:hover {
    background-color: red;
}

/*modal stylling*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: #AE7B63; /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    opacity: 1;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/*define an inline block class*/
.inline {
    display: inline;
    max-width: 220px;
    margin: 1em;
}

/*handle styling for menu items in landing page*/
#title {
    position: relative;
    background-color: #4CAF50;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
}

#popup-list #popup-list-content {
    background-color: #f1f1f1;
}

/*make the checkout button float at the bottom of the page*/
#checkout-btn {
    float: right;
    position: fixed;
    bottom: -4px;
    right: 10px;
    height: 50px;
    width: 140px;
}

/*modify how input prompts look*/

/*add alert box formating*/
/*this code is credited to W3 schools*/
.alert_box {
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.3s;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: red;
}
